# apps/web
NEXT_PUBLIC_SUPABASE_URL=https://kjzxdzconsouovfmvfzq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtqenhkemNvbnNvdW92Zm12ZnpxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzMjIxMzksImV4cCI6MjA5MDg5ODEzOX0.oCzuvmARLfEM9xsgfQSLjd2z_S68TRX8Nk2Kt1bri8I
NEXT_PUBLIC_SERVER_URL=http://localhost:3001

# apps/server
SUPABASE_URL=https://kjzxdzconsouovfmvfzq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtqenhkemNvbnNvdW92Zm12ZnpxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTMyMjEzOSwiZXhwIjoyMDkwODk4MTM5fQ.vR1iq-w8Jt2bABcgyHXfP6PBbW_tr-MTZoPPLkf6C_4
SUPABASE_JWT_SECRET=GZhmqtZOWijPFVbJezzAui7gw+Jh+G0W0+e8jOur3S18UtO+iEahy3zkzMqJkMsMrqkqSFP9zzuomxOk/406hw==
PORT=3001
WEB_URL=http://localhost:3000
